In [1]:
from datasets import load_dataset

ds = load_dataset("cnamuangtoun/resume-job-description-fit")

c:\Users\ashim\OneDrive\Desktop\project\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\ashim\OneDrive\Desktop\project\myenv\Lib\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\ashim\.cache\huggingface\hub\datasets--cnamuangtoun--resume-job-description-fit. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|██████████| 6241/6241 [00:01<00:00, 5977.72 examples/s]
Generating test split: 100%|██████████| 1759/1759 [00:00<00:00, 6539.28 examples/s]

In [2]:
import pandas as pd

splits = {'train': 'train.csv', 'test': 'test.csv'}
df = pd.read_csv("hf://datasets/cnamuangtoun/resume-job-description-fit/" + splits["train"])

In [4]:
df.columns

Index(['resume_text', 'job_description_text', 'label'], dtype='object')

In [9]:
df.tail()

,resume_text,job_description_text,label
6236,SummaryResults-driven Data Entry Clerk with ex...,"Hi,\nHope you are doing great today. Please fi...",Good Fit
6237,Professional SummaryWith the attitude of learn...,Job Title: DHT - Front End Software Engineer W...,Good Fit
6238,Summary• \nOver\nThree years of extensi...,LHH Recruitment Solutions is looking for a Sof...,Good Fit
6239,ProfileAbility to prioritize and multi-task in...,Our client is a growing Medical Device company...,Good Fit
6240,SummaryFull stack Software Engineer with 8+ ye...,Robert Half is looking for a Senior Full Stack...,Good Fit

In [10]:
df[df["label"] == 'Good Fit']

,resume_text,job_description_text,label
4699,SummaryRecent graduate from Nucamp Coding Boot...,Role: Senior Software Engineer\nType: Full-Tim...,Good Fit
4700,"SummaryHonest, reliable, dependable, hardworki...",\n\nPosition Title: Senior Construction Accoun...,Good Fit
4701,Career OverviewExpert level user interface fro...,Purpose StatementThe Software Engineering Mana...,Good Fit
4702,SummarySenior Software Engineer with 6+ years ...,The position is described below. If you want t...,Good Fit
4703,ProfileHighly motivated Sales Associate with e...,Job Description\nOracle is seeking an experien...,Good Fit
...,...,...,...
6236,SummaryResults-driven Data Entry Clerk with ex...,"Hi,\nHope you are doing great today. Please fi...",Good Fit
6237,Professional SummaryWith the attitude of learn...,Job Title: DHT - Front End Software Engineer W...,Good Fit
6238,Summary• \nOver\nThree years of extensi...,LHH Recruitment Solutions is looking for a Sof...,Good Fit
6239,ProfileAbility to prioritize and multi-task in...,Our client is a growing Medical Device company...,Good Fit
6240,SummaryFull stack Software Engineer with 8+ ye...,Robert Half is looking for a Senior Full Stack...,Good Fit

In [11]:
df[df["label"] == 'No Fit']

,resume_text,job_description_text,label
0,SummaryHighly motivated Sales Associate with e...,Net2Source Inc. is an award-winning total work...,No Fit
1,Professional SummaryCurrently working with Cat...,At Salas OBrien we tell our clients that were ...,No Fit
2,SummaryI started my construction career in Jun...,Schweitzer Engineering Laboratories (SEL) Infr...,No Fit
3,SummaryCertified Electrical Foremanwith thirte...,"Mizick Miller & Company, Inc. is looking for a...",No Fit
4,SummaryWith extensive experience in business/r...,Life at Capgemini\nCapgemini supports all aspe...,No Fit
...,...,...,...
3138,Professional SummaryWith the attitude of learn...,Job Title: Software DeveloperLocation: Pittsbu...,No Fit
3139,Professional SummaryExperienced Data Analyst c...,Role - Business Analyst - Mobile Location - Lo...,No Fit
3140,Summary7+ years of IT\nIndustry experience in ...,Role - Business Analyst - Mobile Location - Lo...,No Fit
3141,SummaryPursue a challenging and rewarding posi...,Experienced in Salesforce Industries Communic...,No Fit
3142,Professional SummarySeeking Challenging and Re...,Centurion Consulting Group is looking for a So...,No Fit

In [14]:
df['label'].unique()

array(['No Fit', 'Potential Fit', 'Good Fit'], dtype=object)

In [15]:
df[df["label"] == 'Potential Fit']

,resume_text,job_description_text,label
3143,Professional Summary5 years of experience on ...,Kindly focus on the highlighted skill in the b...,Potential Fit
3144,Professional SummaryYoung professional with\nh...,Mada is a startup powering inspired shopping e...,Potential Fit
3145,Professional ProfileExpert in Functional Testi...,Job Description\nAs a Principal Software Engin...,Potential Fit
3146,"SummarySecretarial, Receptionist, Customer Ser...","Title: Azure Data Engineer Location Seattle, ...",Potential Fit
3147,Professional SummaryExperienced Senior Account...,"Dexian, formerly Hunter Hollis is working with...",Potential Fit
...,...,...,...
4694,SummaryHighly motivated Sales Associate with e...,Catholic Charities of Baltimore is currently s...,Potential Fit
4695,SummaryTo obtain an entry-level position as an...,CONSTRUCTION MANAGER (ELECTRICAL ENGINEER) - M...,Potential Fit
4696,"Professional SummaryAdept at managing budgets,...","Plant AccountantSelah, WADirect Hire$70-85kAnn...",Potential Fit
4697,SummaryDetail-oriented human resources profess...,HiETLData EngineerDallas tx-Onsite\nNeed only ...,Potential Fit
4698,Professional SummaryTalented leader and attorn...,Job Description\nAs a Principal Software Engin...,Potential Fit

In [17]:
import pandas as pd
import numpy as np

# Assuming your dataset is loaded into a pandas DataFrame called 'df'
# Let's say the labels are in a column named 'label'

# Define the number of samples you want from each category
num_samples = 70

# Separate the data into the categories
no_fit = df.iloc[:3143]
potential_fit = df.iloc[3143:4699]
good_fit = df.iloc[4699:]

# Randomly sample 70 data from each category
no_fit_sample = no_fit.sample(n=num_samples, random_state=42)
potential_fit_sample = potential_fit.sample(n=num_samples, random_state=42)
good_fit_sample = good_fit.sample(n=num_samples, random_state=42)

# Combine the samples into a new dataframe
sampled_df = pd.concat([no_fit_sample, potential_fit_sample, good_fit_sample])

# Shuffle the combined dataframe to ensure randomness across categories
sampled_df = sampled_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [18]:
sampled_df.head()

,resume_text,job_description_text,label
0,SummaryVisionary and Goal-oriented IT Network ...,"PacMar Technologies LLC, a privately-owned def...",No Fit
1,"ExperienceElectrical Engineer,11/2017toCurrent...",ARM GROUP is looking for a Senior Electrical E...,Good Fit
2,Professional ProfileCapable International Tax ...,Catholic Charities of Baltimore is currently s...,Potential Fit
3,Professional SummaryTo obtain a full time oppo...,Duration: 12 months Job Description:Strong an...,Good Fit
4,SummaryHighly-motivated employee with desire t...,Progressive Leasing is a leading provider of ...,No Fit

In [19]:
sampled_df.to_csv("sampled_eval.csv", index=False)